/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content */
  main {
    padding: 2rem;
    text-align: center;
  }
  
  form {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  form input, form select, form button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    width: 20px; /* عرض العنصر */
    height: 20px; /* ارتفاع العنصر */
    transform: scale(0.8); /* التحكم بحجم التكبير */
    margin-right: 5px; /* مسافة بين العنصر والنص */
  }

  input[type="radio"] {
    width: 20px;
    height: 20px;
    transform: scale(0.8);
    margin-right: 5px;
  }
  

  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  .contenarG
  {
    display: flex;
    flex-direction: column;
    
  }
  .checkboxG{
    display: flex;

  }
.radioG{
    display: flex;  
}
  